.topnav {
	font-size: 23px;
	text-align: right;
	padding-top: 20px;
	float: right;
	width: 50%;
  background-color:#68ACCA;
}

.header {
	text-align: left;
	float: left;
	width: 50%;
	font-size: 23px;
	color: blue;
	font-family: arial;
}

a {
	text-decoration:none;
	color: #D3D3D3;
	font-family: arial;
}

.topnav a:hover {
	color: white;
}

body {
	background-color: black;
}

header {
	padding-left: 50px;
  box-sizing: border-box;
}

#myInput {

  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #7FF5E1;
}
.accordion {
  background-color: #6d1d0b;
  color: #FFFFFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}



.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

#myInput {
  
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
.Words {
  color: black;
  font-family:'Times New Roman', Times, serif ;
}