.topnav {
	font-size: 23px;
	text-align: right;
	padding-top: 20px;
	float: right;
	width: 50%;
}

.header {
	text-align: left;
	float: left;
	width: 50%;
	font-size: 23px;
	color: white;
	font-family: arial;
}

a {
	text-decoration:none;
	color: #D3D3D3;
	font-family: arial;
}

.topnav a:hover {
	color: white;
}

body {
	background-color: black;
}

header {
	padding-left: 50px;
}
 {
  box-sizing: border-box;
}

#myInput {

  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #7FF5E1;
}
